{% extends 'base.html' %}

{% block container %}

  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ tours_data.departure_text }}</h1>
    <p class="mb-4">Найдено {{ tours_data.tours_cnt }} {{ tours_data.cnt_label }}, от {{ tours_data.min_price }} до {{ tours_data.max_price }} и от {{ tours_data.min_nights }} ночей до {{ tours_data.max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
    {% for idx,tour in curr_tours.items %}
        <div class="col-4">
          <div class="card mb-4">
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
            <div class="card-body">
              <h2 class="h5 card-title">{{ tour.title }}</h2>
              <p class="card-text">{{ tour.description }}</p>
              <a href="/tour/{{ idx }}" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  </main>

{% endblock %}